.bar {
  fill: LightSeaGreen;
}
.bar:hover {
  fill: Coral;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
fieldset {
  border: 0;
  margin-left:auto;
  margin-right:auto;
}
label {
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  font-size:20px;
}
select {
  width: 200px;
}
.dropdown {
  display:inline;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  font-size:18x;
}
body {
  font: 10px sans-serif;
  font-family: 'Varela Round', 'Indie Flower', cursive;
  background-color:#eee;
  background-repeat: repeat-y;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.area {
  fill: steelblue;
}

.ui-selectmenu-menu {
    max-height: 400px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
}
