.bar {
  fill: LightSeaGreen;
}

.multi-line:hover {
  opacity:0.4;
  /*fill: Coral;*/
}

.bar:hover {
  fill: Coral;
}

.extent {
  fill: #558;
  fill-opacity: .225;
  stroke: #fff;
}

text {
  fill-opacity: 1;
}

text.hidden {
  fill: #ccc !important;
  fill-opacity: .6 !important;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

fieldset {
  border: 0;
  margin-left:auto;
  margin-right:auto;
}

label {
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  font-size:20px;
}

h1 {
  font-size:36px;
  color:#c44;
}

select {
  width: 200px;
}

.dropdown {
  display:inline;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  font-size:18px;
}

#container {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

body {
  font: 10px sans-serif;
  font-family: 'Varela Round', 'Indie Flower', cursive;
  background-color:#eee;
  background-repeat: repeat-y;
  margin-left:auto;
  margin-right:auto;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.ui-selectmenu-menu {
    max-height: 400px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
    font: 'Varela Round', 'Indie Flower', cursive;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:18px;
    vertical-align:middle;
}

.ui-selectmenu-button {
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:18px;
    vertical-align:middle;
}

.ui-button{
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:18px;
    vertical-align:middle;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

