.bar {
  fill: LightSeaGreen;
}

#logo-img {
    width: 170px;
    height: 100px;
}

#logo {
    margin-right:0px;
    display: inline;
    vertical-align:middle;
    position:absolute;
    left:10px;
    top:0px;
}

.d3-slider-range {
    fill:#fd6500;
    color:#fd6500;
    background-color:#fd6500;
}

#timeSlider {
    width: 400px;
    margin: 10px;
    display: inline-block;
    /*fill:#fd6500;
    color:#fd6500;*/
}

.multi-line:hover {
  opacity:0.2;
}

.disp-inline {
  display:inline;
}

#options-form {
  display:inline;
  margin-top:0px;
  margin-top:0px;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle
}

#title-bar {
  background-color: #4C1A1A;
  background-color: #444;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  height:50px;
  width 100%;
  text-align:center;
}

.bar:hover {
  fill: Coral;
}

.extent {
  fill: #000;
  fill-opacity: .075;
  stroke: #888;
  stroke-width: 4px;
}

text {
  fill-opacity: 1;
}

circle.hidden, 
text.hidden {
  /*fill: #ccc !important;*/
  /*fill-opacity: .65 !important;*/
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

fieldset {
  border: 0;
}

label {
  display: block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:20px;
  font-size:20px;
}

#title {
  text-align:center;
  font-size:28px;
  color: Coral;
  margin-top:10px;
  margin-left:10px;
}

select {
  width: 200px;
}

.dropdown {
  display:inline;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  font-size:18px;
}

#container {
  text-align:center;
  margin-top:0px;
  margin-left:5px;
}

body {
  font: 10px sans-serif;
  font-family: 'Varela Round', 'Indie Flower', cursive;
  background-color:#f5f5f5;
  background-repeat: repeat-y;
  margin-top:0px;
  margin-left:0px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
  fill: #000;
}

.ui-selectmenu-menu {
    max-height: 400px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
    font: 'Varela Round', 'Indie Flower', cursive;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:16px;
    vertical-align:middle;
}

.ui-selectmenu-button {
    max-width: 160px;
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:16px;
    vertical-align:middle;
}

.ui-button{
    font-family: 'Varela Round', 'Indie Flower', cursive;
    font-size:16px;
    vertical-align:middle;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path {
    stroke-width: 0;
}

